node_modules/
dist/
downloads/
tmp-test/
secrets/
youtube-cookies.txt
data/sr-models/
.venv-tts/
data/vixtts/
data/content-studio/news.json
*.pt
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
